.para{
    display: inline;
    font-size: smaller;
    margin-left: 10px;
   
}
.checkbox{
    display: inline;
    margin-top: 10px;
    

}
#check2{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

background-color:white;
margin-left: 350px;
width: 500px;
height: 300px;

#div1{
    margin-left: 350px;
}




h3{
    
    margin-left: 250px;
    width: 700px;
    background-color: orange;
    
}
table{
    margin-left: 250px;
    width: 700px;
    border: 1px solid gray;
    table-layout: auto;
    border-collapse: collapse;
}
table tr{
    border-bottom: 2px solid #be939af1;
    border-collapse: collapse;
}
table td{
    border-right: 1px solid grey;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color:rgb(243, 195, 179);
    
}
tr:nth-child(even){
    background-color: white;
}
td{
    text-align: right;
}
#firstRow{
    text-align: center;
}