
body{
    color: rgba(255, 255, 255, 0.473);
    font-family:Helvetica, sans-serif;
    background-color: grey;
}

#LastName{
    height:20px;
    margin-left: 15px;
    width: 135px;
    padding: 5px;
    background-color: rgba(248, 248, 255, 0.925);
    outline: none;
}
h3{
    
    margin-top: 30px;
    margin-left: 50px;
    
}
#Name{
    height:20px;
    width: 120px;
    padding: 5px;
    outline: none;
    background-color: rgba(248, 248, 255, 0.925);
}
#div2{
    margin-left: 50px;
}
form{
    margin-left: 400px;
    margin-top: 75px;
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
}
div{
    margin-top: 30px;
    width: 330px;
}
.inputlast{
    background-color: rgba(248, 248, 255, 0.925);
    height:20px;
    margin-left: 50px;
    padding: 5px;
    border: 1px solid black;
    outline: none;
    width: 280px;
   
}
input[type="button"]{
    margin-top: 30px;
    margin-left: 210px;
    background-color: rgb(8, 131, 8);
    border: 1px solid black;
    color: ghostwhite;
    height: 30px;
    width: 125px;
    outline: none;
}
::placeholder{
    color: black;
    opacity: 1;
    font-size:smaller ;
    
}