body{
    background-color:rgb(238,130,238);
    background-image: url(/Images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
form{
    margin-top: ;
    margin-left: 450px;
    background-color:rgb(27, 42, 92);
    height: 430px;
    width: 407px;
    
}
#div1{
    height: 60px;
    width: 400px;
    margin-top: 100px;
    margin-left: 450px;
    text-align: center;
    background-color: rgb(27, 27, 71);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 3.5px;
}
div{
  
    margin-left: 30px;
}
.textbox{
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 15px;
    height: 35px;
    width: 330px;
    background-color:white;
    border: 1px solid #1D2951;
    border-radius: 5px;;
    outline: none;
}
::placeholder{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#checkbox{
    margin-top: 10px;
    float: left;
}
.checkdiv{
    margin-top: 10px;
}


input[type=button]{

    margin-top: 20px;
    margin-left:250px;
    width: 100px;
    height: 25px;
    background-color: rgba(7, 255, 7, 0.918);
    border: 1px solid #1D2951;
    border-radius: 5px;
    color: white;
    outline: none;

}

