h1{
    text-align: center;
}
h3{
    text-align: center;
    color: teal;
}
.tabel1{
    border: 1px solid black;
    table-layout: auto;
    width: 1000px;
    border-collapse: collapse;
}
table{
    border: 1px solid black;
    table-layout: fixed;
    width: 1000px;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: rgba(85, 107, 47, 0.363);
}
li{
    border: 0.5px solid black;
    width: 1000px;
    border-collapse: collapse;
    background-color: rgba(85, 107, 47, 0.363);
}